.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }

.card{

    padding: 1%;
    height: 70vh;  
    width: 40%;
    text-align: center;
}
.formField{
    width: 50%;
}
.btn{
    background-color: lightblue;
}
.btn:hover{
    background-color: lightskyblue;
}
